@media screen and (max-width: 768px) {
  /*Logo = Navigation */

  /* bouton */

  .bouton {
    background: none;
    background-color: #dcdcdc62;
  }

  /*LOCATION*/

  /* OPERATION */

.operation {
    
  &_cards {
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  
  &_card {
      width: 95%;
      margin-bottom: 20px;
      box-shadow: 1px 2px 20px rgba(167, 167, 167, 0.5);
  }
}
}

/* OPERATION */ 

  /*RESTAURANTS*/
  .restaurants_cards{
    width: 95%;

  &_img{
    width: 95%;
    height: 250px;
  }
}
  /*FOOTER*/
  .footer {
    padding-bottom: 20px;

    &_links {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
        padding: 0;
        padding-inline-start: 20px;
    }
}
}
